@import '../../variants.scss';

.leaflet-container {
  height: 100%;
  width: 100%;
}

.container__map-info-list {
  width: 100%;
  height: $container__map-info-list;
  padding: 10px 0;
  .patient-info {
    border: 1px solid #ccc;
    height: $patient-info-height;
    overflow: auto;
    li {
      line-height: 1.5rem;
    }
  }
  .list-patient {
    max-height: $list-patient-height;
    overflow: auto;
    border: 2px solid #ccc;
    width: 100%;
    margin: 25px auto;
    .list-patient__item {
      cursor: pointer;
      &:hover {
        color: #6387bf
      }
    }
    .list-patient__item--selected {
      color: #631ca6;
      font-weight: bold;
    }
  }
}

.container__seek-bar {
  width: 100%;
  padding: 0 20px;
  .button-control{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .button {
      width: 50%;
      height: auto;
    }
  }
  .seek-bar {
    width: 90%;
  }
}